@{
    ViewData["Title"] = "Home Page";
    ViewData["FullWidth"] = true;
}

<div class="video-background-holder">
    <div class="video-background-overlay"></div>
    <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
        <source src="~/videos/background.mp4" type="video/mp4">
    </video>
    <div class="video-background-content h-100 container">
        <div class="d-flex h-100 text-start align-items-center">
            <div class="w-100 text-white col-md-8">
                <h1 class="hero-title">Social Film Platform</h1>
                <p class="hero-subtitle">Discover movies and reviews from your community.</p>
                <div class="mt-5">
                     <a class="btn btn-elegant" asp-controller="Movies" asp-action="Index">EXPLORE MOVIES</a>
                </div>
            </div>
        </div>
    </div>
</div>
